/* Header website */

.header {
  height: 120px;
  background-color: #fe6132;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar--list {
  list-style-type: none;
  padding-left: 0px;
}

.header__navbar--item {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.header__navbar--item a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__navbar--item .header__navbar--item-bold {
  font-weight: 500;
}

.header__navbar--item-separate::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -9px;
  height: 12px;
  width: 1px;
  background-color: #fb9086;
  transform: translateY(-50%);
}

.navbar__icon {
  margin: 0 5px;
}

.edit-style {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 300;
}

/*Hove QR code*/
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 117%;
  padding: 8px;
  border-radius: 2px;
  display: none;
}

.header__qr::before {
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

.navbar__item--hover:hover .header__qr {
  display: block;
}

.header__qr--code {
  width: 100%;
}

.header__app {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.header__app--image {
  height: 14px;
}

.container {
  background-color: var(--white-color);
  height: 500px;
}

.header__navbar--notificaion {
  position: absolute;
  width: 404px;
  background-color: var(--white-color);
  top: 120%;
  right: 0;
  border: 1px solid #d3d3d3;
  display: none;
  animation: headerScale ease-in 0.2s;
  transform-origin: calc(100% - 20px) top;
}

@keyframes headerScale {
  from {
    opacity: 0.3;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.notify__hover:hover .header__navbar--notificaion {
  display: block;
  cursor: pointer;
  z-index: 1;
}

.header__navbar--notificaion::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  display: block;
  border: 20px solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar--notificaion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 14px;
  top: -14px;
  left: 0;
  display: block;
}
.header__notification--header {
  height: 40px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: default;
}

.header__notification--header h3 {
  font-size: 1.4rem;
  color: #666;
  font-weight: 400;
  user-select: none;
}

.header__notification--list {
  list-style: none;
  padding: 0;
}

.header__notification--item {
  padding-left: 1.2rem;
  background-color: rgba(238, 75, 43, 0.1);
}

.header__notification--item:hover {
  background-color: #f1f1f1;
}

.header__notification--link {
  display: flex;
  text-decoration: none;
  color: var(--black-color);
}

.header__notification--info {
  flex: 1;
}

.header__notification--name {
  font-size: 1.5rem;
  color: var(--black-color);
}

.header__notification--desc {
  color: #756f6e;
}
.header__notification--img {
  width: 4.8rem;
  object-fit: contain;
  margin-right: 1.2rem;
}

.notify-all {
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.notify-all a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

.modal__registration {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__registration--form {
  width: 500px;
  background-color: var(--white-color);
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  animation: fadeIn linear 0.3s;
}

.modal__container {
  padding: 0 32px;
}

.modal__registraiton--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  heading: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.registration__title--regis {
  font-size: 2.2rem;
  color: var(--black-color);
}
.registration__title--login {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.modal__registration--body {
  position: relative;
  height: 263px;
}

.body-regis {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}

.body-regis:focus {
  border: 1px solid #888;
}

.regis__rules {
  margin-top: 20px;
}

.regis__rules--text {
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
}

.rules--spans {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.regisform__control {
  margin-top: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.button__style {
  padding: 8px 40px;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.btn__control {
  background-color: var(--white-color);
  color: var(--black-color);
  margin-right: 5px;
}

.btn__control:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn__control--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.modal__registration--footer {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  font-size: 1.2rem;
  margin-top: 20px;
}

.icon-button {
  font-size: 1.8rem;
}

.btn__with--icon {
  margin-right: 20px;
  background-color: #3a5a98;
  color: var(--white-color);
}

.btn__with--icon-primary {
  color: black;
  background-color: white;
}

.btn__with--icon,
.btn__with--icon-primary {
  text-decoration: none;
  padding: 8px 10px;
  width: 200px;
  border-radius: 2px;
}

.icon-main {
  display: flex;
  justify-content: space-around;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help--link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--black-color);
}

.link__desp {
  display: block;
  height: 16px;
  margin: 0px 16px 0px;
  border-left: 1px solid #ccc;
}

.link__primary {
  color: var(--primary-color);
}

.link__second {
  color: #ccc;
}

/* header secondary*/
.header__secondary {
  height: var(--header-secondary-height);
  display: flex;
  align-items: center;
}

.header__secondary--logo {
  margin-right: 30px;
}

.header__secondary--logo .logo--website {
  height: 54px;
  width: 200px;
  object-fit: cover;
}

.header__secondary--search {
  width: 845px;
  height: 58px;
}

.secondary--searchBar {
  display: flex;
}

.secondary--searchBar .search--input {
  flex: 1;
  padding: 1.2rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  margin-right: -65px;
}

.btn--search {
  background-color: #fb5533;
  border: none;
  padding: 0px 25px;
  color: var(--white-color);
  border-radius: 2px;
  margin: 1px 0px;
  cursor: pointer;
}

.suggestItem__lists {
  transform: translateX(-40px);
}

.suggestItem__lists .suggestItem--item {
  display: inline-block;
  color: var(--white-color);
  margin-right: 10px;
  font-size: 1.2rem;
}

.header_secondary--cart {
  width: 10.6rem;
  height: 6.6rem;
  text-align: center;
  line-height: 6.6rem;
}

.header__cart--icon {
  color: var(--white-color);
  font-size: 2rem;
}
